*.ipynb_checkpoints/
*.DS_Store
challenges/2023_cloud_classification/src/example_code/mlruns/


# ClimateZones test generated artefacts
tests/scripts/latest_artefact_dir.txt
tests/test_run_logs/


# Python bytecode
__pycache__/
*.pyc
